
.navbar-color{
  background-color: #3e5e8d;
}
.container{
  margin-left: 0px;
  min-height: auto;
  margin-top: 1em;
  min-height: 100%;
}
.sidebar-card{
  margin-right: -10px !important;
}
.side-bar-items {
   margin: 0px;
   height: 500px;
}

.chart-content{
  margin: 0px;
  border: 2pm solid red;
  height: 500px;
}
.card{
  height: 600px !important;
  margin-top: 15px;
}
.card-title {
  text-align: center !important;
  font-size: 12px !important;
}
.card-text {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
.cardItemLabels {
  color: #5e6664 !important;
  font-size:12px !important;
  border: 2px solid #e5e1e1;
  background-color: white;
  margin: 1px;
}
.btn-primary:hover,
.btn-primary.active,
.btn-primary.active:hover {
  background-color: rgb(248, 245, 245) !important;
  color:#5e6664 !important;
  border: 2px solid #e5e1e1;
  font-size: 12px !important;                     
}
